<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--不需要找到接口实现类只需要找到接口-->
<mapper namespace="com.ecjtu.dao.IClassDAO">
    <!--一般定义为实体  此处id值是为下方查询或其余使用到的resultMap的值-->
    <resultMap type="com.ecjtu.entity.StuClass" id="stuClass">
        <!--对应表中主键-实体类属性-->
        <id column="cno"  property="cno"/>
        <!--column 表字段，property 实体类属性-->
        <result column="cname"  property="cname"/>
        <collection property="students" ofType="com.ecjtu.entity.Student">
            <id column="sno" property="sno"/>
            <!--column 表字段，property 实体类属性-->
            <result column="sname" property="sname"/>
            <result column="sex" property="sex"/>
            <result column="age" property="age"/>
            <result column="sd" property="sd"/>
            <result column="class" property="class"/>
            <!--在student表中关联address表-->
            <!--<association property="address" javaType="com.ecjtu.entity.Address">-->
                <!--<id property="sno" column="address_id"/>-->
                <!--<result property="address" javaType="address"/>-->
            <!--</association>-->
        </collection>
    </resultMap>

    <select id="find" resultMap="stuClass">
        select
				c.cno  as cno,
				s.sno as sno,
				s.sname as sname,
				s.Sex as sex,
				s.age as age,
				s.sd as sd,
				c.cname as cname
        from studentc s
        left join stuclass c on s.class=c.cno
    </select>

</mapper>