<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--不需要找到接口实现类只需要找到接口-->
<mapper namespace="com.bamboo.dao.PLUDAO">
    <!--一般定义为实体  此处id值是为下方查询或其余使用到的resultMap的值-->
    <resultMap type="com.bamboo.entity.users.UserPersonalLike" id="personallike">
        <!--对应表中主键-实体类属性-->
        <result column="uno"  property="uno"/>
        <result column="lno" property="lno"/>
        <result column="number" property="number"/>
    </resultMap>

    <!--将Userlike和UserPersonal合成一种查询-->

    <!--插入用户喜爱-->
    <insert id="insertlike" parameterType="com.bamboo.entity.users.UserPersonalLike">
        INSERT INTO userlike (uno, lno,number) VALUES (#{uno}, #{lno},#{number})
    </insert>
    <!--插入用户个人-->
    <insert id="insertpersonal" parameterType="com.bamboo.entity.users.UserPersonalLike">
        INSERT INTO userpersonal (uno, lno,number) VALUES (#{uno}, #{lno},#{number})
    </insert>


    <!--查找用户喜爱标签-->
    <select id="selectlike" resultType="java.lang.String" parameterType="java.lang.String">
        Select lno from userlike where uno=#{user} order by number desc
    </select>
    <!--查找用户个人标签-->
    <select id="selectpersonal" resultType="java.lang.String" parameterType="java.lang.String">
        Select lno from userpersonal where uno=#{user} order by number desc
    </select>

    <!--根据用户喜爱标签进行用户推荐-->
    <select id="recommenduser" resultType="java.lang.String" parameterType="java.lang.String">
        Select uno from userpersonal where lno=#{lno} order by number desc LIMIT 3
    </select>

</mapper>