<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--不需要找到接口实现类只需要找到接口-->
<mapper namespace="com.bamboo.dao.ILeaveMessageDAO">
    <!--一般定义为实体  此处id值是为下方查询或其余使用到的resultMap的值-->
    <resultMap type="com.bamboo.entity.Photoes.Photo" id="photo">
        <!--对应表中主键-实体类属性-->
        <id column="pno"  property="pno"/>
        <result column="purl" property="purl"/>
        <result column="pdes" property="pdes"/>
        <result column="pdate" property="pdate"/>
        <result column="collnum" property="collnum"/>
        <collection property="lno" ofType="com.bamboo.entity.comments.Lmessage">
            <id column="lmno" property="lmno"/>
            <result column="lmcontent" property="lmcontent"/>
            <result column="lmdate" property="lmdate"/>
            <collection property="uno" ofType="com.bamboo.entity.users.User">
                <id column="uno" property="uno"/>
                <result column="name" property="name"/>
            </collection>
            <collection property="scno" ofType="com.bamboo.entity.comments.Comment">
                <id column="scno" property="scno"/>
                <result column="fcno" property="fcno"/>
                <result column="content" property="content"/>
                <result column="cdate" property="cdate"/>
                <collection property="uno" ofType="com.bamboo.entity.users.User">
                    <id column="uno" property="uno"/>
                    <result column="name" property="name"/>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <!--查询图片所对应的留言-->
    <select id="pcontent" resultMap="photo" parameterType="java.lang.String">
        select
		lmcontent,name,lmdate
        from photo
        left join lmessage on photo.pno=lmessage.pno
        left join user on lmessage.uno=user.uno
        where photo.pno=#{pno};
    </select>

    <!--见了鬼的图片+留言+评论-->
    <select id="findALL" resultMap="photo" parameterType="java.lang.String">
        select *
        from photo
        left join lmessage on photo.pno=lmessage.pno
        left join user on lmessage.uno=user.uno
        left join comment on comment.lmno=lmessage.lmno
        where photo.pno=#{pno};
    </select>

    <insert id="leavemessage" parameterType="com.bamboo.entity.comments.Lmessage">
        INSERT INTO lmessage (lmno,pno,lmcontent,uno,lmdate)
        VALUES
        (#{lmno,jdbcType=VARCHAR},
        #{phno,jdbcType=VARCHAR},
        #{lmcontent,jdbcType=VARCHAR},
        #{uuno,jdbcType=VARCHAR},
        #{lmdate,jdbcType=DATE})
    </insert>

    <insert id="newcontent" parameterType="com.bamboo.entity.comments.Comment">
        INSERT INTO comment (scno,fcno,content,uno,cdate,lmno)
        VALUES
        (#{scno,jdbcType=VARCHAR},
        #{fcno,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{uuno,jdbcType=VARCHAR},
        #{cdate,jdbcType=DATE},
        #{llmno,jdbcType=VARCHAR})
    </insert>


</mapper>