<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--不需要找到接口实现类只需要找到接口-->
<mapper namespace="com.bamboo.dao.IUserDAO">
    <!--一般定义为实体  此处id值是为下方查询或其余使用到的resultMap的值-->
    <resultMap type="com.bamboo.entity.users.User" id="userMessage">
        <!--对应表中主键-实体类属性-->
        <id column="uno"  property="uno"/>
        <!--column 表字段，property 实体类属性-->
        <result column="username"  property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="homepages" property="homepages"/>
        <result column="profile" property="profile"/>
        <result column="headimg" property="headimg"/>
        <result column="tel" property="tel"/>
        <result column="regdate" property="regdate"/>
    </resultMap>

    <select id="findByusername" resultType="java.lang.String" parameterType="java.lang.String">
      select password from user where username=#{username};
    </select>
    <select id="findAll" resultMap="userMessage" parameterType="java.lang.String">
      select
       username,
       name,
       sex,
       age,
       homepages,
       profile,
       tel,
       headimg,
       regdate
       from user where username=#{username};
    </select>
    <select id="getuno" resultType="java.lang.String" parameterType="java.lang.String">
      select uno from user where username=#{username};
    </select>

    <!--注册-->
    <insert id="newUser" parameterType="com.bamboo.entity.users.User">
        INSERT INTO user (uno,username,password,name,sex,age,tel,regdate)
        VALUES
        (#{uno,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR},
        #{age,jdbcType=SMALLINT},
        #{tel,jdbcType=VARCHAR},
        #{regdate,jdbcType=DATE})
    </insert>

    <!--更新个人信息-->
    <update id="upd" parameterType="com.bamboo.entity.users.User">
    UPDATE user SET
    password = #{password,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    sex = #{sex,jdbcType=VARCHAR},
    age = #{age,jdbcType=SMALLINT},
    homepages = #{homepages,jdbcType=VARCHAR},
    profile = #{profile,jdbcType=VARCHAR},
    headimg = #{headimg,jdbcType=VARCHAR},
    tel = #{tel,jdbcType=VARCHAR}
    WHERE uno= #{uno,jdbcType=VARCHAR}

    </update>

</mapper>
