<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--不需要找到接口实现类只需要找到接口-->
<mapper namespace="com.bamboo.dao.ICollectionDAO">
    <!--一般定义为实体  此处id值是为下方查询或其余使用到的resultMap的值-->
    <resultMap type="com.bamboo.entity.users.Collection" id="collection">
        <!--对应表中主键-实体类属性-->
        <id column="uno"  property="uno"/>
        <!--column 表字段，property 实体类属性-->
        <result column="cdate" property="cdate"/>
        <result column="ckname" property="ckname"/>
        <collection property="pno" ofType="com.bamboo.entity.Photoes.Photo">
            <id column="pno" property="pno"/>
            <result column="purl" property="purl"/>
            <result column="pdes" property="pdes"/>
            <result column="pdate" property="pdate"/>
            <result column="collnum" property="collnum"/>
        </collection>
    </resultMap>

    <select id="findckname" resultType="java.lang.String" parameterType="java.lang.String">
      select distinct ckname from collection where uno=#{username};
    </select>

    <select id="findimg" resultType="java.lang.String" parameterType="hashmap">
      select purl
      from collection
      left join photo on collection.pno=photo.pno
      where collection.uno=#{uno} and ckname=#{ckname};
    </select>

    <delete id="del" parameterType="hashmap">
      DELETE from collection
      where uno=#{uno} and pno=#{pno} and ckname=#{ckname};
    </delete>
    <!--收藏图片-->
    <insert id="insertnewphoto" parameterType="com.bamboo.entity.users.Collection">
      INSERT INTO collection (uno,pno,cdate,ckname)
      VALUES
      (#{uno,jdbcType=VARCHAR},
      #{ppno,jdbcType=VARCHAR},
      #{cdate,jdbcType=DATE},
      #{ckname,jdbcType=VARCHAR})
    </insert>

</mapper>